@import "./typography.scss";
@import "./header.scss";
@import "./body.scss";
@import "./footer.scss";
@import "./section.scss";

/*MIXIN*/

@mixin width-footer {
	width: 100px;
}


/*EXTEND*/
.extend {
	@extend .texto-footer;
	color: red;

}

/*GENERAL*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Secular One', sans-serif;
	color: black;
	font-size: map-get($map: $font-size, $key: font-m );
}


/*CARRUSEL CURSOS*/

.carrusel-cursos{

	.marketing{
		padding-top: 80px;
	
	}
	
	.carouselExampleControls{
		width: 65vh;
	}
}

.contenedor-cursos{

	.col-lg-4 img{
		border-radius: 100px;
		width: 150px;
		height: 150px;
	
	}
	
	.col-lg-4 h2{
		padding-top: 20px;
	}
	
	.btn {
		background-color: black;
	}

}



/* VISTA DESKTOP */


@media (min-width: 768px) {



.collapse {
	padding-left: 520px; 
}

header .logo-inicio img{
	width: 200px;
}



.marketing{
	padding-top: 80px;

}

li{
	padding: 7px;
	padding-top: 100px;
	font-size: map-get($map: $font-size, $key: font-m );
}

ul{
	padding-right: 15px;
}

footer{
	display: flex;
	justify-content: space-between;
}

footer div img{
	
	@include width-footer;

}


}