/*FOOTER*/
footer {
    padding-top: 10px;
    display: flex; }
  
  footer div img {
    width: 50px;
    padding: 5px; }
  
  footer div {
    display: flex;
    padding: 3px; }
  
  footer p {
    padding: 5px;

  .texto-footer{
      font-size: map-get($map: $font-size, $key:font-m );
     }
}